@import url("https://fonts.googleapis.com/css?family=Aleo");

:root {
  --main-bg-color: #FFFFFF;
  --main-text-color: #333;
  --heading-color: #333;
  --link-color: #930077;
  --color1: #930077;
  --color2: #e61c5d;
  --color3: #ffbd39;
}

html,
body {
  min-height: 100%;
}
body {
  font-family: "Aleo", serif;
  margin: 0 auto;
  padding: 20px 40px;
  max-width: 800px;
  background: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: 1.1rem;
  line-height: 1.5rem;
}

main {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

img {
  max-width: 100%;
}


h1 {
  font-weight: bold;
  color: var(--heading-color);
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.heart {
  display: inline-block;
  background: var(--color2);
  /*background: linear-gradient(90deg, 
            var(--color3) 0%, 
            var(--color3) 6%, 
            var(--color2) 6%, 
            var(--color2) 55%, 
            var(--color1) 55%, 
            var(--color1) 100%);*/
  height: 36px;
  width: 36px;
  transform: rotate(45deg);
  margin: 0 20px;
}

.heart:before,
.heart:after {
  content: "";
  background: var(--color2);
  border-radius: 50%;
  height: 36px;
  position: absolute;
  width: 36px;
  top: -18px;
  left: 0;
}

.heart:before {
  /* background: linear-gradient(90deg, 
  var(--color3) 0%, 
  var(--color3) 55%, 
  var(--color2) 55%, 
  var(--color2) 100%); */
  top: 0;
  left: -18px;
}

.heart:after {
  /* background: linear-gradient(90deg, 
            var(--color3) 0%, 
            var(--color3) 6%, 
            var(--color2) 6%, 
            var(--color2) 55%, 
            var(--color1) 55%, 
            var(--color1) 100%); */
}

a {
  color: var(--link-color);
  padding: 5px;
}

a:visited {
  color: var(--link-color);
}

a:hover,
a:visited:hover,
a:focus,
a:active {
  background: linear-gradient(315deg, 
            var(--color1) 0%, 
            var(--color1) 33%, 
            var(--color2) 33%, 
            var(--color2) 66%, 
            var(--color3) 66%, 
            var(--color3) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-weight: bold;
}

small {
  font-size: 0.8rem;
  line-height: 0.8rem;
  color: #333;
}